#steuerungmitdetails {
	border: 1px solid orange;
}
#steuerungmitdetails ul {
	margin-left: 1em;
	padding-left: 0;
}
#steuerungmitdetails ul ul {
	margin-left: 1em;
	padding-left: 1em;
}
#steuerungmitdetails ul li {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
}
#steuerungmitdetails ul li li {
	list-style-type: square;
}

#steuerungmitdetails details details {
	background-color: #eee;
	margin-left: 1em;
}